{% extends 'base.html' %}
{% block content %}
<div>
    <table>

        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>

        <tbody>
        {% if question_list %}
        {% for question in question_list %}
            
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                <span>{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
            
        {% endfor %}
        {% else %}
        
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        
        {% endif %}
        </tbody>
        
    </table>
    
    <!--페이징처리 start-->
    <ul>
        <!--이전페이지 start-->
        {% if question_list.has_previous %}
        <li><a href="?page{{question_list.previous_page_number}}">이전</a></li>
        {% else %}
        <li><a href="#">이전</a></li>
        {% endif %}
        <!--이전페이지 end-->
        
        
        <!--페이지리스트 start-->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number == question_list.number %}
        <li><a href="?page={{ page_number }}">{{page_number}}</a></li>
        {% else %}
        <li><a href="?page={{ page_number }}">{{page_number}}</a></li>
        {% endif %}
        {% endfor %}
        <!--페이지리스트 end-->
        
        
        <!--다음페이지 start-->
        {% if question_list.has_next %}
        <li><a href="?page={{ question_list.next_page_number}}">다음</a></li>
        {% else %}
        <li><a href="#">다음</a></li>
        {% endif %}
        <!--다음페이지 end--> 
    </ul>
    <!--페이징처리 end-->
    
    
    <a href="{% url 'pybo:question_create' %}">질문 등록하기</a>
</div>
{% endblock %}