{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'common:group_create' %}" class="post-form my-3">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Group 이름</label>
        <input type="text" class="form-control" name="name" id="name"
                      value="{{ form.subject.value|default_if_none:'' }}">
      </div>
      <div>
        <label for="name" class="form-label">Group 소개</label>
        <textarea class="form-control" name="introduction"
        id="introduction" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>          
      </div>
      <div>
        <label for="password" class="form-label">Group 가입용 비밀번호</label>
        <input type="text" class="form-control" name="password" id="password"
            value="{{ form.location.value|default_if_none:'' }}">
      </div>
        <button class="btn btn-success btn-block btn-lg align-center" type="submit" style="text-align:center; margin-top:20px">Create Group</button>
    </form>
    <div class="col-12">
        <a href="{% url 'common:mypage' %}" class="btn btn-warning" style="float:right; margin-top:20px">마이페이지로 돌아가기</a>
    </div>
</div>
{% endblock %}
<!-- 
<div class="container">
    <form method="post" >
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">위치</label>
            <input type="text" class="form-control" name="location" id="location"
                   value="{{ form.location.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
    </form>
</div> -->