<!-- 배너 -->
<div class="container-fluid align-center">
    <h1><strong>Create 3D model</strong><br>using your own photos</h1>
    <h3 style="color:#F4EEA9">on mobile and desktop</h3>
    <div class="margin-top-big d-none d-md-block"></div> 
    <a href="{% url 'pybo:list' %}" class="btn btn-success btn-lg">Go to List</a><br>
    <!-- <img src="../../static/images/drop-icon.png">
    Login and select your room<br>You can convert IMG to 3D MP4 -->
    <div class="silver small-info margin-top-big d-none d-md-block"></div> 
</div>